<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486246775823-b4s9v0pa4f0hdln6aq8cb9ogr0b3j6fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486246775823-b4s9v0pa4f0hdln6aq8cb9ogr0b3j6fo</string>
	<key>API_KEY</key>
	<string>AIzaSyCQSb777ql0AzbuxJL7uuu1pTwe1vyPSh0</string>
	<key>GCM_SENDER_ID</key>
	<string>486246775823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syakirarif.genshinCharacters</string>
	<key>PROJECT_ID</key>
	<string>redeem-code-admin-47c30</string>
	<key>STORAGE_BUCKET</key>
	<string>redeem-code-admin-47c30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486246775823:ios:d8323a603b3cc1e83fb77a</string>
</dict>
</plist>